        .image{
            margin-top:11px;
        }
        .wa-dropdown-container {
            line-height:1.5em;
            height:25px;
            border:2px solid #dedede;
	    padding-top:0px;
	    padding-bottom:0px;
        }
       
       .right_content_center h2 {
            font-weight: 600;
            font-size: 24px;
        }

        .right_content_center h3 {
            margin-top: 45px;
            font-weight: 600;
        }

        .ul-style p {
            font-size: 16px;
        }
        /*main-content*/
        .main-container {
            background-color: #f8f8f8;
        }

        #serviceCenter {
            width: 100%;
            position: relative;
            background-color: #f8f8f8;
        }

        footer {
            Border-top: medium solid #ccc;
        }

        .content {
            width: 100%;
            min-width: 960px;
            max-width: 1250px;
            margin: 0 auto;
            position: relative;
        }
        /*left-content*/
        .left_content {
            position: absolute;
            width: 16%;
            display: inline-block;
            vertical-align: top;
            background-color: #f8f8f8;
            overflow: hidden;
        }
        /*right-content*/
        .right_content {
            margin-left: 16%;
            width: 84%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            background-color: #ffffff;
        }


        #serviceCenter .right_content_header {
            position: absolute;
            min-width: 805px;
            top: 0;
            left: 16%;
            right: calc(50% - 50vw + 9px);
            overflow: hidden;
        }


        .right_content_senction {
            height: 100%;
            background-color: white;
        }

        .header_content {
            font-size: 14px;
            color: #404040;
            line-height: 1.5;
            width: 730px;
            height: 42px;
        }
        /*div 白色背景*/
        .white-background {
            position: absolute;
            background: white;
            top: 0;
            left: 16%;
            right: calc(50% - 50vw + 9px);
            bottom: 0;
        }
        /*ul-导航*/
        .left_ul_content > li > a {
            text-decoration: none;
            display: block;
            padding: 10px 15px 10px 20px;
            text-transform: capitalize;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            color: #555555;
            position: relative;
        }

        .left_ul_content > li > ul > li > a:hover {
            color: #969696;
        }

        .left_ul_content {
            list-style: none;
            padding: 0px;
            border: none;
            margin: 0;
            width: 100%;
            position: relative;
        }

        .nav_li_submenu {
            font-size: 20px;
            color: #5c5c5c;
            <!-- padding-left: 30px; -->
            margin-top: 10px;
            margin-bottom: 15px;
            /* height: 28px; */
            line-height: 28px;
        }

        /*header  文字部分*/
        .right_content_dis {
            padding-top: 50px;
            margin-left: 6.4%;
            margin-bottom: 45px;
        }

        .rigth_content_title {
            font-size: 40px;
            color: #404040;
        }

        .rigth_content_subtitle {
            font-size: 24px;
            margin-left: 10px;
            color: #404040;
        }

        .btn_style {
            display: block;
            font-size: 16px;
            width: 155px;
            height: 40px;
            background-color: #ff3d00;
            text-align: center;
            padding: 7px;
            box-sizing: border-box;
            margin-right: 25px;
        }

            .btn_style:hover {
                background-color: #fa6434;
            }
        /*header-ul 方块*/
        .right_content_select {
            background-color: red;
            display: inline-block;
            margin-left: 20%;
            margin-top: 20%;
        }
        
        .video-item {
            margin-bottom: 50px;
        }
        
        .video-image {
            display: inline-block;
        }

        .video-image > a{
            width: 226px;
            height: 127px;
            display: inline-block;
            position: relative;
            background-size: auto;
            margin-left: 20px;
        }
        
        .play-btn {
            border-radius: 5;
            left: 93px;
            top: 44px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            vertical-align: middle;
            position: absolute;
            opacity: 0.8;
            background-color: grey;
        }

        .select_space {
            margin-left: 1.2%;
        }

        .block_space {
            margin-left: 0.8%;
        }

        .grey_content {
            background-color: #ffffff;
            float: left;
            width: 23%;
            height: 175px;
        }

            .grey_content a {
                width: 23%;
                height: 175px;
                line-height: 1.5;
                color: #4a4a4a;
                font-size: 12px;
            }

            .grey_content:hover {
                float: left;
                background-color: #ccebff;
            }

                .grey_content:hover .triangle-up {
                    Display: none;
                }

        .blue_content {
            background-color: #b3e1ff;
            float: left;
            width: 23%;
            height: 175px;
        }

            .blue_content .triangle-up {
                display: block;
            }


            .blue_content a {
                width: 23%;
                height: 175px;
                font-size: 12px;
                line-height: 1.5;
                color: #4a4a4a;
            }

        .content_show {
            display: block;
        }

        .nav_select {
            color: #5c5c5c;
            background-color: #DBDBDB;
        }

        .content_hide {
            display: none;
        }
        /*header-ul 方块内部*/
        .content_Item_title {
            font-size: 20px;
            color: #000000;
            text-align: center;
            padding-top: 25px;
        }

            .content_Item_title .left_img {
                width: 20px;
                height: 20px;
                padding-top: 10px;
            }

            .content_Item_title .right_img {
                width: 14px;
                height: 14px;
                margin-left: 0px;
                padding-top: 10px;
            }

        .content_Item_content {
            font-size: 12px;
            color: #4a4a4a;
            height: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

            .content_Item_content .Item_strong {
                font-size: 14px;
                color: #000000;
            }

            .content_Item_content .Item_preview {
                padding: 3px;
                background-color: rgb(0,160,253);
                color: white;
                font-size: 12px;
                margin-left: 3px;
                border-radius: 3px;
            }

            .content_Item_content .Item_case {
                width: 64px;
                height: 20px;
                font-size: 14px;
                color: #000000;
                padding: 1px 4px;
            }

        .triangle-up {
            display: none;
            height: 15px;
            width: 30px;
            margin-top: 27px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-image: url('http://wacndevelop.blob.core.chinacloudapi.cn/marketing-resource/css/images/triangule_.png');
        }
        /*bannner*/
        .banner_content {
            margin-top: 60px;
            width: 100%;
            max-width: 1064px;
            height: 70px;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            background-color: #33a4fb;
            margin-left: 8%;
            min-width: 700px;
            float: right;
        }

        .banner_content_distance {
            float: left;
            margin-left: 5.6%;
            padding-top: 22px;
        }

        .banner_content .banner_content_link {
            width: 66px;
            font-size: 16px;
            background-color: #ff3d00;
            color: #fff;
            padding: 8px 45px;
            margin-left: 3.2%;
        }

            .banner_content .banner_content_link:hover {
                Background-color: #fa6434;
            }

        .banner_content .large_span {
            font-size: 30px;
        }

        .banner_close {
            float: right;
            margin-top: -40px;
            margin-right: 10px;
        }

        .banner_content .Item_span {
            padding-left: 5px;
            padding-right: 5px;
            background-color: white;
            color: rgb(0,160,253);
            font-size: 18px;
            margin: 5px;
            border-radius: 3px;
        }
        /*content*/

        .right_content_center {
            margin-left: 5.6%;
            margin-right: 7.6%;
            max-width: 910px;
        }

        .right_content_pricing {
            margin: 0px;
            padding-left: 5.6%;
            padding-right: 7.6%;
            margin-top: 50px;
        }
        /*pricing  价格*/
        .pricingpage {
            margin: 0 5%;
        }

            .pricingpage .feature_section p {
                font-size: 14px;
                color: #505050;
            }

        .wa-content {
            margin: 0 5%;
        }

        .faqpage {
            width: 100%;
        }

        .price_section {
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #fff;
            margin-bottom: 50px;
            margin-top: 30px;
        }

            .price_section .section_title {
                font-size: 18px;
                line-height: 25px;
                margin: 10px 5%;
            }

            .price_section .section_info {
                font-size: 12px;
                color: #969696;
                margin-left: 5%;
                background-color: white;
            }

        .pricingpage .price_section {
            background-color: white;
        }

        .price_section table {
            background-color: #fff;
            border-top: 2px solid #c9c9c9;
            border-bottom: 2px solid #c9c9c9;
            border-spacing: 0;
            border-collapse: collapse;
            width: 90%;
            text-align: center;
            line-height: 1.2em;
            color: #505050;
            margin-left: 5%;
            margin-bottom: 30px;
        }

        .price_section th {
            font-size: 11px;
            padding: 10px;
            color: #505050;
        }

        .price_section td {
            border-top: 1px solid #c9c9c9;
            font-size: 12px;
            font-weight: 400;
            padding: 10px;
            color: #505050;
        }

        .left_align {
            text-align: left;
        }

        .price_section p {
            font-size: 14px;
            color: #505050;
            margin-left: 5%;
            width: 90%;
        }

        .feature_section .section_title {
            font-size: 30px;
            line-height: normal;
            font-weight: 100;
            margin-bottom: 20px;
        }

        .price_content_dis {
            margin-left: 4%;
            padding-top: 10px;
            float: left;
        }


        /*case  案例*/
        .case-list {
            padding: 0px;
            display: block;
            list-style: none;
            margin-left: 60px;
        }

            .case-list .single-case {
                display: inline-block;
                width: 45%;
                height: 350px;
                background: #FDFDFD;
                border: 1px solid #CDCDCD;
                padding: 20px 18px;
                box-sizing: border-box;
                margin: 1%;
                overflow: hidden;
                vertical-align: top;
                float: left;
            }

                .case-list .single-case img {
                    width: 42%;
                    height: 64px;
                    margin: 0px 18px 20px 0px;
                    float: left;
                }

                .case-list .single-case .info {
                    display: inline-block;
                    float: left;
                    font-size: 13px;
                    color: #000000;
                    line-height: 22px;
                }

                    .case-list .single-case .info a {
                        text-decoration: none;
                        color: #00A0FF;
                        font-size: 13px;
                    }

                .case-list .single-case label {
                    font-size: 13px;
                    line-height: 125%;
                    color: #555555;
                    display: inline;
                }

                .case-list .single-case .disp {
                    margin-top: 84px;
                    margin-bottom: 15px;
                    font-size: 13px;
                    line-height: 22px;
                }

                .case-list .single-case .services {
                    font-size: 13px;
                    margin-bottom: 10px;
                }

                    .case-list .single-case .services .services-list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: inline;
                    }

                    .case-list .single-case .services li {
                        display: inline;
                    }

                        .case-list .single-case .services li a {
                            text-decoration: none;
                            color: #00A0FF;
                            font-size: 13px;
                        }

                .case-list .single-case .detail {
                    font-size: 13px;
                    line-height: 22px;
                    color: #555;
                }

            .case-list .arrow-right {
                display: inline-block;
                background: url("http://wacndevelop.blob.core.chinacloudapi.cn/marketing-resource/css/img/icon_link-arrow.png");
                width: 4px;
                height: 8px;
                margin-left: 5px;
                background-repeat: no-repeat;
            }

        .mysql-style {
            display: block;
            font-size: 14px;
            text-transform: none;
        }
        /*1440 设计*/
        @media(min-width:1250px) {
            /*left 左侧导航*/
            /*ul-导航*/
            .mysql-style {
                display: inline;
                font-size: 10px;
                text-transform: none;
            }

            .left_ul_content {
                min-width: 180px;
                margin-left: 0px;
            }

                /*.nav_li_submenu {
            margin-left: 20px;
        } */

                .left_ul_content > a {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.2em;
                    color: #505050;
                    display: block;
                    padding: 14px 15px 12px;
                }

                    .left_ul_content > a:hover {
                        color: #969696;
                    }

                /* REV.01 ADD START */
                .left_ul_content > li.active {
                    background-color: #e6f7fd;
                    border-left-color: #00abec;
                }

                .left_ul_content > li {
                    border-bottom: 1px solid #fff;
                    border-left: 3px solid #eee;
                }

                    .left_ul_content > li:first-child {
                        border-top: 1px solid #fff;
                    }

                .left_ul_content > li {
                    margin: 0px;
                }

                    .left_ul_content > li > ul {
                        list-style: none;
                        padding: 0 15px 10px 20px;
                    }
                        /* the most inner link style */
                        .left_ul_content > li > ul > li > a {
                            font-size: 12px;
                            line-height: 1.2em;
                            color: #505050;
                            display: inline-block;
                            margin-left: 0;
                            padding: 3px 0px 3px 20px;
                            margin-left: -20px;
                            text-decoration: none;
                        }
                    /* the initial style of class-item */
                    .left_ul_content > li > a:before {
                        transition: .2s;
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAHCAYAAAArkDztAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAElJREFUeNpiCAgISGDAApg1NDTOA7EDED+8cePGA5gEI1DHfySFC4C4ccOGDQ/QJUDgAxBPZGLAAVjQ+HCjYBIHoAIHYCoAAgwA+4sZshXM1Q0AAAAASUVORK5CYII=');
                        background-repeat: no-repeat;
                        content: "";
                        display: block;
                        height: 7px;
                        left: 7px;
                        position: absolute;
                        top: 15px;
                        width: 6px;
                    }

                    /* rotate background image after click */
                    .left_ul_content > li.active > a:before {
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -o-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }
            /* REV.01 ADD END */

            /*header-web 部分*/
            .right_content_dis {
                padding-top: 50px;
                margin-left: 75px;
                margin-bottom: 45px;
            }
            /*header-ul 部分*/
            .header_content {
            }

            .right_content_select {
                height: 175px;
                width: 1050px;
            }

            .select_space {
                margin-left: 20px;
            }

            .block_space {
                margin-left: 10px;
            }

            .grey_content {
                width: 250px;
                background-color: #ffffff;
                float: left;
                height: 175px;
            }

                .grey_content a {
                    display: block;
                    width: 250px;
                    height: 175px;
                    line-height: 1.5;
                    color: #4a4a4a;
                    font-size: 12px;
                }

                .grey_content:hover {
                    float: left;
                    background-color: #ccebff;
                }

            .blue_content {
                width: 250px;
                background-color: #b3e1ff;
                float: left;
                height: 175px;
            }

                .blue_content a {
                    display: block;
                    width: 250px;
                    height: 175px;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #4a4a4a;
                }
            /*content*/
            .right_content_center {
                margin-left: 70px;
                margin-right: 70px;
            }

            .right_content_pricing {
                padding-left: 25px;
                padding-right: 70px;
            }

            .right_content_case {
            }
            /*pricing 价格*/
            .pricingpage {
                margin: 0 50px;
            }

            .wa-content {
                margin: 0 50px;
            }

            .price_content_dis {
                margin-left: 100px;
            }

            .price_section .section_title {
                margin: 10px 50px;
            }

            .price_section table {
                width: 810px;
                margin-left: 50px;
            }

            .price_section p {
                margin-left: 50px;
                width: 810px;
            }

            .price_section .section_info {
                margin-left: 50px;
            }
            /*case 案例*/
            .case-list {
                padding: 0px;
                display: block;
                list-style: none;
            }

                .case-list .single-case {
                    width: 465px;
                    height: 350px;
                    padding: 20px 18px;
                    margin: 8px;
                }

                    .case-list .single-case img {
                        width: 184px;
                        height: 64px;
                        margin: 0px 10px 20px 0px;
                        float: left;
                    }

            .banner_content_distance {
                margin-left: 100px;
            }

            .banner_content .banner_content_link {
                margin-left: 40px;
            }
        }
        /*960px 设计*/
        @media(max-width:960px) {
            /*content 限制*/
            .right_content {
                min-width: 806px;
            }

            .right_content_header {
                min-width: 805px;
            }

            .right_content_senction {
                min-width: 805px;
            }

            .right_content_select {
                margin: 0px auto;
                min-width: 805px;
                max-width: 1200px;
                width: 100%;
            }

            .banner_content {
                min-width: 805px;
            }
        }
        
 
        .main-container {
            margin: 0;
            padding: 107px 0 0 0;
            box-sizing: border-box;
            width: 100%;
        }

        .old-main-container {
            width: 880px;
            margin: 0 auto;
            position: relative;
            padding: 0 40px;
            top: 86px;
        }
   
    <!-- start events panel-->

  ul.azsidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 999;
  }
  ul.azsidebar li {
  position: relative;
  }
  ul.azsidebar li a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 45px;
  }
  ul.azsidebar li .tag {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 13px;
  height: 13px;
  font-size: 10px;
  color: white;
  background-color: #ee5a30;
  text-align: center;
  line-height: 13px;
  }
  ul.azsidebar li .tri-angle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 11px;
  margin-top: -6px;
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/triangle_5x11.png);
  background-size: contain;
  background-repeat: no-repeat;
  }
  ul.azsidebar li .tri-angle-blue {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 11px;
  margin-top: -6px;
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/triangle_5x11.png);
  background-size: contain;
  background-repeat: no-repeat;
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/blue_triangle_5x11.png);
  }
  ul.azsidebar .news {
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/whats_new_40x45.png);
  background-size: contain;
  background-color: #00ce7d;
  }
  ul.azsidebar .news:hover {
  opacity: 0.8;
  }
  ul.azsidebar .event {
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/event_40x45.png);
  background-size: contain;
  background-color: #3b3b3b;
  }
  ul.azsidebar .event:hover {
  opacity: 0.8;
  }
  ul.azsidebar .bing {
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/support_40x45.png);
  background-size: contain;
  background-color: #33a4fb;
  }
  ul.azsidebar .bing:hover {
  opacity: 0.8;
  }
  ul.azsidebar .calculator {
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/calculator_40x45.png);
  background-size: contain;
  background-color: #3b3b3b;
  }
  ul.azsidebar .calculator:hover {
  opacity: 0.8;
  }
  .sidebar-win {
  position: fixed;
  right: 40px;
  top: 30%;
  z-index: 999;
  box-shadow: 1px 1px 3px 1px gray;
  }
  .sidebar-win .control {
  position: absolute;
  right: 5px;
  top: 5px;
  }
  .sidebar-win .close {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  background: url(//wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/css/img/sidebar-close.png);
  background-size: contain;
  }
  .sidebar-win .max {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  }
  .sidebar-win.news {
  width: 550px;
  height: 160px;
  background: #3b3b3b;
  opacity: 0.95;
  position: fixed;
  right: 40px;
  top: 30%;
  padding: 15px;
  box-sizing: border-box;
  }
  .sidebar-win.news p {
  font-size: 14px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  }
  .sidebar-win.news p a {
  display: inline-block;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  background: #33a4fb;
  padding: 0 3px;
  text-decoration: none;
  }
  .sidebar-win.news p a:hover {
  opacity: 0.8;
  }
  .sidebar-win.news .all {
  width: 108px;
  height: 28px;
  color: white;
  font-size: 14px;
  background-color: #ff3d00;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  }
  .sidebar-win.news .all:hover {
  background-color: #fa6434;
  }
  .sidebar-win.events {
  width: 450px;
  height: 64px;
  position: fixed;
  right: 40px;
  top: 30%;
  box-sizing: border-box;
  }
  .sidebar-win.events .events-list {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  .sidebar-win.events .events-list .title {
  display: inline-block;
  width: 160px;
  height: 106px;
  padding: 4px;
  box-sizing: border-box;
  background: #2190f8;
  position: relative;
  left: 5px;
  height:120px;
  }
  .sidebar-win.events .events-list .title .container {
  background: #10487c;
  height: 100%;
  border-radius: 3px;
  padding: 8px 4px;
  box-sizing: border-box;
  color: #f8f8f8;
  text-align: center;
  padding-top: 24px;
  }
  .sidebar-win.events .events-list .title .sub {
  font-size: 12px;
  }
  .sidebar-win.events .events-list .title .main {
  font-size: 18px;
  }
  .sidebar-win.events .events-list .detail {
  display: inline-block;
  width: 285px;
  min-height: 72px;
  vertical-align: top;
  background: #3b3b3b;
  border: 1px solid #4b4b4b;
  padding: 10px 0;
  box-sizing: border-box;
  height:120px;
  }
  .sidebar-win.events .events-list .detail p {
  margin: 0;
  }
  .sidebar-win.events .events-list .detail .type {
  font-size: 12px;
  color: white;
  padding: 6px 0 0 10px;
  }
  .sidebar-win.events .events-list .detail .info {
  font-size: 12px;
  color: white;
  margin: 0 10px;
  }
  .sidebar-win.events .events-list .detail .signup {
  display: block;
  width: 77px;
  height: 22px;
  color: white;
  font-size: 14px;
  background-color: #ff3d00;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
  margin: 5px 0 0 10px;
  }
  .sidebar-win.events .events-list .detail .tag {
  font-size: 12px;
  color: #ffea34;
  }
  .sidebar-win.bing {
  top: 20%;
  right: 40px;
  position: fixed;
  }
  /*dropdownselect*/
  .wa-dropdown-container+.wa-button {
  margin-top: 15px
}
.wa-sectionDocumentationService .wa-dropdown-container {
  font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #505050
}
.wa-container-documentation .wa-section-micro .wa-dropdown-value {
  width: auto
}
  .wa-dropdown-container:hover .wa-dropdown-arrow:before {
  border-color: #00abec
}

.wa-dropdown-container.wa-dropdown-container-dark {
  background: #6a6a6a;
  border: 2px solid #525252;
  color: #fff
}

.wa-dropdown-container.wa-dropdown-container-dark option {
  background: #fff
}

.wa-dropdown-container.wa-dropdown-disabled {
  background: #eee
}

.wa-dropdown-container.wa-dropdown-disabled .wa-dropdown-arrow:before {
  border-color: #dedede
}

.wa-dropdown-container.wa-dropdown-focus {
  border: 2px solid #00abec
}

.wa-dropdown-container.wa-dropdown-focus .wa-dropdown-arrow:before {
  border-color: #00abec
}

.wa-dropdown-container-icon {
  border: 0;
  padding: 0
}

.wa-dropdown-container-icon.wa-dropdown-focus {
  border: 0
}

.wa-dropdown-container-icon .wa-dropdown {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto
}

.wa-dropdownList {
  display: block
}

.wa-dropdownList:after {
  clear: both;
  content: "";
  display: table
}

.wa-dropdownList>div {
  display: block;
  margin-top: 4%
}

.wa-dropdownList>div:first-child {
  margin-top: 0
}

.wa-dropdownList label {
  font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2em;
  color: #505050;
  text-transform: uppercase;
  display: block;
  margin-bottom: 3px
}

@media only screen and (min-width:61.25em) {
    .wa-dropdown-container {
        display: inline-block;
    }

        .wa-dropdown-container.wa-dropdown-small .wa-dropdown-value {
            width: 105px;
        }

        .wa-dropdown-container.wa-dropdown-medium .wa-dropdown-value {
            width: auto;
        }

        .wa-dropdown-container.wa-dropdown-large .wa-dropdown-value {
            width: 180px;
        }
}
.wa-button {
  font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  color: #fff;
  border: 0;
  display: block;
  line-height: 25px;
  text-align: center;
  vertical-align: bottom;
  background-color: #89c402;
  padding: 6px 20px 9px;
  height:25px;
}

.wa-button:hover {
  background-color: #a5ce00;
  color: #fff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}

.wa-button .wa-icon {
  margin-left: 8px
}

.wa-button .wa-icon:first-child {
  margin-left: 0;
  margin-right: 8px
}

.wa-button.wa-button-baseline {
  vertical-align: baseline
}

.wa-button-primary {
  font-family: wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  color: #fff;
  background-color: #89c402;
  border: 0;
  display: block;
  line-height: 25.2px;
  text-align: center;
  vertical-align: bottom;
  padding: 1px 30px 3px 8px;
  position: relative
}

.wa-button-primary:hover {
  background-color: #a5ce00;
  color: #fff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}

.wa-button-primary:after {
  content: "";
  display: inline-block;
  height: 28px;
  margin-top: -14px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 16px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAbCAYAAAB1NA+iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABRSURBVDhPY/j//78AEDcAsQEDuQCoOQGI348aggCjhmCCUUMwAVAzKPOBDFGAChEPQDZDNc+HChEPRjWTCEY1kwgo1QyqmdYDcT9UiATAwAAA8wwclpvxEbIAAAAASUVORK5CYII=');
  background-repeat: no-repeat
}

.wa-button-primary.wa-button-mini {
  padding-right: 30px
  
}

.wa-button-primary.wa-button-mini:after {
  display: block;
  content: "";
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-image: none;
  border-color: #fff;
  border-style: solid;
  border-width: 0px 1px 1px 0;
  margin: 0;
  padding: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px
}
a {
  color: #00e
}

a:hover {
  color: #06e
}

a:focus {
  outline: thin dotted
}

a:hover,a:active {
  outline: 0
}
a:active,a:hover {
  color: #0072c6;
  text-decoration: none;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}